<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://scontent.fssz6-1.fna.fbcdn.net/v/t1.0-9/37694222_2109962225744954_1733371096117280768_n.jpg?_nc_cat=106&_nc_sid=09cbfe&_nc_eui2=AeF9shOFpd3cIMGmssmai-seLTaR7Abfs3ctNpHsBt-zd4dBY0QUyimFgqG9_6VsQFXHH07kt7RLAsJD9vZ2B-rr&_nc_ohc=ysHmNPKU4EEAX-3ulwW&_nc_ht=scontent.fssz6-1.fna&oh=64f17837c22752a68d78eda303cf419c&oe=5F6C633E" alt="Imagem de capa do card">
    </div>

    
    <div class="card-body">
      <h5 class="card-title text-center monospace">{{nome}}</h5>
      <p class="card-text text-center monospace">Desenvolvedor Web Java Jr</p>
        
      <a href="https://www.linkedin.com/in/davidsales28/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>
      <a href="https://github.com/davidsalesdev"  class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>  
    </div>
  </div>
